<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ticket service project">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Davis Fusco">

    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet">

    <title>Footer</title>
</head>
<body>
<footer class="d-flex flex-wrap justify-content-center align-items-center py-4 navbar-dark bg-dark" th:fragment="footer">
    <p class="mb-3 mb-md-0 text-muted"><small>Copyleft CC-by 2022 by Davis Fusco</small></p>
</footer>
</body>
</html>