<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ticket service project">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Davis Fusco">

    <link rel="stylesheet" type="text/css" href="../static/CSS/index.css" th:href="@{'/CSS/index.css'}">
    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet">

    <title>Ticket Service Home</title>
</head>
<body>
<header>
    <h1>Ticket Service Home</h1>
</header>
<nav>
    <img src="../static/images/logo.png" th:src="@{'/images/logo.png'}" alt="logo" class="logo" width="66" height="36.96">
    <a href="#" class="nav-link nav-link-selected">Home</a>
    <a th:href="@{'/ticket/new'}" class="nav-link">Create a Ticket</a>
</nav>
<main>
    <section>
        <h2>Tickets</h2>
        <article th:each="ticket : ${tickets}">
            <h3 th:text="${ticket.title}">Ticket 1</h3>
            <time th:datetime="${ticket.creationDate}" th:text="${#temporals.format(ticket.creationDate, 'dd-MMM-yyyy')}">2022-10-25</time>
            <p th:text="${ticket.status.getName()}">OPEN</p>
            <p th:text="${#strings.abbreviate(ticket.description, 30)}">This is the description...</p>
            <a th:href="@{'/ticket/' + ${ticket.id}}">More details</a>
        </article>
    </section>
    <aside>
        <h2>Info</h2>
        <p th:text="'Opened tickets: ' + ${numberOpenTickets}"></p>
        <p th:text="'In progress tickets: ' + ${numberInProgressTickets}"></p>
        <p th:text="'Done tickets: ' + ${numberDoneTickets}"></p>
        <p th:text="'Closed tickets: ' + ${numberClosedTickets}"></p>
        <p th:text="'Total tickets: ' + ${numberTickets}"></p>
    </aside>
</main>
<footer>
    <p><small>Copyleft CC-by 2022 by Davis</small></p>
</footer>
</body>
</html>