<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ticket service project">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Davis Fusco">

    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/form.css" th:href="@{'/css/form.css'}">
    <script type="text/javascript" src="../static/js/register.js" th:src="@{'/js/register.js'}"></script>

    <title>Ticket Service Registration</title>
</head>
<body class="bg-secondary">
<main class="container my-5 d-flex flex-wrap justify-content-center align-items-center w-100">
    <section class="rounded-4 p-5 mt-5 w-50 text-secondary bg-dark">
        <form class="w-100" action="#" th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data">
            <h2 class="d-block text-center pb-4 text-light"><b>Registration</b></h2>
            <br>
            <div class="w-100 pb-2 mb-3 position-relative border-bottom">
                <label class="ps-1" for="firstName">First Name</label>
                <input class="w-100 px-1 d-block text-light outline-0 border-0" type="text" id="firstName" name="firstName" th:field="*{firstName}" required placeholder="First Name">
            </div>
            <span id='firstNameMessage'></span>
            <div class="w-100 pb-2 mb-3 position-relative border-bottom">
                <label class="ps-1" for="lastName">Last Name</label>
                <input class="w-100 px-1 d-block text-light outline-0 border-0" type="text" id="lastName" name="lastName" th:field="*{lastName}" required placeholder="Last Name">
            </div>
            <span id='lastNameMessage'></span>
            <br>
            <div class="w-100 pb-2 mb-3 position-relative border-bottom">
                <label class="ps-1" for="username">Username</label>
                <input class="w-100 px-1 d-block text-light outline-0 border-0" type="text" id="username" name="username" th:field="*{username}" required placeholder="Username">
            </div>
            <span id='usernameMessage'></span>
            <br>
            <div class="w-100 pb-2 mb-3 position-relative border-bottom">
                <label class="ps-1" for="password">Password</label>
                <input class="w-100 px-1 d-block text-light outline-0 border-0" type="password" id="password" name="password" th:field="*{password}" required placeholder="Password">
            </div>
            <span id='passwordMessage'></span>
            <br>
            <div class="w-100 pb-2 mb-3 position-relative border-bottom">
                <label class="ps-1" for="confirm-password">Confirm Password</label>
                <input class="w-100 px-1 d-block text-light outline-0 border-0" type="password" id="confirm-password" name="confirm-password" required placeholder="Password">
             </div>
            <span id='confirmPasswordMessage'></span>
            <br>
            <div id="submitDiv" class="d-flex flex-wrap justify-content-center pt-2 w-100 mt-3">
                <!--<input class="btn rounded-4 text-dark bg-light bg-gradient w-100" type="submit" id="registerSubmit" value="Register"/>-->
            </div>
            <div class="d-flex justify-content-center mt-5">
                <p class="mb-0">Already have an account? <a th:href="@{'/login'}" class="text-white-50 fw-bold">Login</a></p>
            </div>
        </form>
    </section>
</main>
</body>
</html>