<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ticket service project">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Davis Fusco">

    <link rel="stylesheet" type="text/css" href="../static/CSS/ticketDetails.css" th:href="@{'/CSS/ticketDetails.css'}">
    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet">

    <title>Ticket Details</title>
</head>
<body>
<div th:replace="header :: head"></div>
<div th:replace="navbar :: nav"></div>
<main>
    <section>
        <article>
            <h2 th:text="${ticket.title}">Ticket 1</h2>
            <div>
                <b>Author:</b>
                <p th:if="${ticket.user} != null" th:text="${ticket.user.getFirstName()} + ' ' + ${ticket.user.getLastName()}">Pippo</p>
            </div>
            <div>
                <b>Type:</b>
                <p th:text="${ticket.type.getName()}">Task</p>
            </div>
            <div>
                <b>Date:</b>
                <time th:datetime="${ticket.creationDate}" th:text="${#temporals.format(ticket.creationDate, 'dd-MMM-yyyy')}">2022-10-25</time>
            </div>
            <div>
                <b>Status:</b>
                <p th:text="${ticket.status.getName()}">Open</p>
            </div>
            <div>
                <b>Description:</b>
                <p th:text="${ticket.description}">This is the description of the Ticket 1.</p>
            </div>
            <a th:href="@{'/ticket/' + ${ticket.id} + '/edit'}" th:object="${ticket}" method="get">Edit</a>
            <a th:href="@{'/ticket/' + ${ticket.id} + '/delete'}" th:object="${ticket}" method="get">Delete</a>
        </article>
    </section>
</main>
<div th:replace="footer :: footer"></div>
</body>
</html>